In [ ]:
#Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. scikit-learn
4. TensorFlow
5. Matplotlib

In [ ]:
| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [4]:
**Objectives:**
  
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table of Data Science tools
- Provide examples of evaluating arithmetic expressions in Python
- Demonstrate converting units (e.g., minutes to hours) using Python

<class 'SyntaxError'>: invalid syntax (<ipython-input-4-369155b07732>, line 1)

## Author

[DZMITRY PIAKHOUSKI]